---
title: Welcome to Middleman
---

<div class="welcome">
  <h1>Middleman Has Gone To Lunch</h1>
  <h2>He will be back in 1 hour</h2>
  <p class="doc">
    <%= link_to "Read Online Documentation", "http://middlemanapp.com/" %>
  </p><!-- .doc -->
</div><!-- .welcome -->
